@import "~bootstrap/scss/bootstrap";

.container {
  margin-top: 10px;
}


button {
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;

  &-hover, &-focus {
    background: inherit;
  }
}

@media screen and (max-width: 475px) {
  .container {
    font-size: 14px !important;
  }
}
